language: cpp

matrix:
  include:
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-6.0
          packages: ['clang-6.0', 'libstdc++-8-dev']
      env:
        - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
        - GENERATOR="CodeBlocks - Unix Makefiles"
        
  include:
    - os: windows
      env:  
        - MSBUILD_PATH="/C/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/MSBuild/15.0/Bin"
        - GENERATOR="CodeBlocks - NMake Makefiles"
        
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    eval "${MATRIX_EVAL}"
    sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test;
    sudo apt-get update;
    sudo apt-get install -qq build-essential xorg-dev libgl1-mesa-dev libglu1-mesa-dev libglew-dev libglm-dev libclang-6.0-dev;
    fi
    
install:
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://cmake.org/files/v3.12/cmake-3.12.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    fi
    
before_script:
 - cd ${TRAVIS_BUILD_DIR}
    
script:
  - export PATH=$MSBUILD_PATH:$PATH
  - cmake -DCMAKE_BUILD_TYPE=Release . 
  - cmake --build . -- VERBOSE=1
